# test
test_dumpcols.json
testinput_big.py
# data and cached
*.db
\#*\#
*~
.kate-swp
~*
.~lock*
# the following directory is to stash things for git to not look at
# such as merge-spam
nogit
# spreadsheets
*.csv
# R and RStudio
.Rproj.user
.RData
.Rhistory
*.Rproj
# Python
*.pyc
# Kate
*-swp
# graphviz and probably others
*.swp
